/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height 
  margin-top: 50px; */
  margin-bottom: 60px;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 1em;
  background-color: #f5f5f5;
}

#messages {
  margin-top: 0px;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 40px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.true {
    color: #007dc5;
    font-weight: 700;
    overflow: hidden;
    text-align: right
}

.false {
    font-weight: 700;
    overflow: hidden;
    text-align: right
}

.sub {
  color: #aaa;
  font-size: 10px;
  font-weight: 100;
}